@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,600&display=swap");

:root {
  --primary-color: #1e96fc;
  --secondary-color: #1e96fc80;
  --background-color: #4a4a53;
  --input-color: #4f4f55;
  --user-color: #36363b;
  --menu-color: #2b2a2e;
  --text-color : #f2f2f2;
  --icon-color: #f2f2f2;
  --suggestion-color: #2b2a2e;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0; /* Ajout d'une marge 0 pour éviter les écarts */
  padding: 0; /* Ajout d'un padding 0 pour éviter les écarts */
  display: flex;
  font-size: calc(0.8em + 0.1vw);
  min-height: 100vh;
  overflow-y: hidden;
}

svg {
  fill: var(--text-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
 text-decoration: underline;
}

.main-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu-container {
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  background-color: var(--menu-color);
}

.event-robot {
  opacity: 0;
  position: fixed;
  left: -1000px;
  z-index: -100;
  transition: left 0.5s ease; 
}

.mode-container {
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.mode-container svg {
  width: calc(1.5em + 0.5vw);
  margin: 10px;
}

.toggle {
  --width: 50px;
  --height: calc(var(--width) / 2);

  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: var(--height);
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--height);
  background-color: var(--primary-color);
  transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(var(--height));
  height: calc(var(--height));
  border-radius: calc(var(--height) / 2);
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked + .slider {
  background-color: var(--primary-color);
}

.toggle input:checked + .slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}

.colors-container {
  display: flex;
  align-items: center;
}

.colors-container svg {
  width: calc(1.5em + 0.5vw);
  margin: 10px;
}

.colors-container input[type="color"] {
  width: 60%;
  height: 50px;
  border: none;
  background-color: var(--menu-color);
  color: white;
  padding: 5px 0;
  cursor: pointer;
}

.settings-container {
  display: flex;
  width: 300px;
  background-color: var(--menu-color);
  padding: 5px 10px;
  transition: all 0.2s ease-in-out;
}

.settings-container:hover {
  background-color: var(--primary-color);
  cursor: pointer;
}

.settings-container a {
  color: #f2f2f2;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
}

.settings-container svg {
  width: calc(1.5em + 0.5vw);
}

.logo-container {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  cursor: pointer;
}

.logo-container svg {
  fill: #f2f2f2;
  width: auto;
  border-radius: 20px;
  margin-right: 10px;
  padding: 0 0 10px 0;
}

.logo-container h1 {
  color: #f2f2f2;
  font-size: 1.5em;
  font-weight: 600;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1; /* Permet au conteneur de héros de prendre autant d'espace vertical que possible */
}

.chat-container {
  width: 100%;
  max-height: calc(100vh - 103.938px);
  flex-grow: 1; /* Permet au conteneur de chat de prendre autant d'espace vertical que possible */
  overflow-y: scroll;
}

.chat-container::-webkit-scrollbar {
  width: 12px; 
}
.chat-container::-webkit-scrollbar-track {
  background: var(--background-color)
}
.chat-container::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 20px; 
  border: 3px solid var(--background-color);
}

.message {
  display: flex;
  /*align-items: center;*/
  text-align: justify;
  padding: 20px 25%;
}

.message-content{
  display: flex;
  word-break: break-word;
  justify-content: center;
  flex-direction: column;
}

.message-content img {
  margin-top: 10px;
}

.message svg {
  width: calc(1.5em + 1vw);
  min-width: calc(1.5em + 1vw);
  margin: 10px 20px 10px 10px;
  padding: 8px;
  border-radius: 50%;
}

.user-message {
  background-color: var(--user-color);
}

.user-message svg {
  fill: var(--user-color);
  background-color: var(--icon-color);
}

.bot-message {
  background-color: var(--background-color);
}

.bot-message svg {
  background-color: var(--primary-color);
}

.suggestion-container {
  display: flex;
  position: relative;
  border-radius: 20px;
  top: 50%;
  transform: translateY(-50%);
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
  margin: 0 30%;
  background-color: var(--suggestion-color);
}

.suggestion-container p {
  width: 30%;
  font-size: 0.8em;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--background-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.suggestion-container p:hover {
  color: #f2f2f2;
  background-color: var(--primary-color);
}

.research-container {
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    var(--background-color),
    var(--user-color)
  );
}

.research-container p {
  text-align: center;
  font-size: 0.7em;
  font-weight: 200;
}

.input-container {
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.input-container input[type="text"] {
  width: 50%;
  height: 50px;
  font-size: calc(0.8em + 0.1vw);
  border-radius: 20px 0 0 20px;
  max-width: 100%;
  padding: 5px;
  border: none;
  color: var(--text-color);
  background-color: var(--input-color);
  border: var(--background-color) 2px solid;
}

.input-container button[type="submit"] {
  padding: 5px 10px;
  border-radius: 0 20px 20px 0;
  border: none;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.input-container button[type="submit"]:hover {
  background-color: var(--secondary-color);
}

.input-container button[type="submit"]:active {
  scale: 0.9;
}

.input-container button[type="submit"] svg {
  width: calc(1.5em + 0.5vw);
}

/* Glitch effect */

.opacity {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.651);
}

.glitch-container {
  position: fixed;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.right {
  text-align: right;
  width: 100%;
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
}

.stack span {
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 4rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 50ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) *120ms), glitch 0.5s ease infinite 0.5s alternate-reverse;
}

.stack span:nth-child(odd) { --glitch-translate: 8px; }
.stack span:nth-child(even) { --glitch-translate: -8px; }

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  };
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%, 100% {  text-shadow: none; transform: none; }
}

/* Media queries */

@media screen and (max-width: 992px) {
  body {
    font-size: calc(1em + 1vw);
  }
  .main-container {
    flex-direction: column;
  }
  .menu-container {
    width: 100%;
    height: 100px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .logo-container {
    width: 100%;
  }
  .logo-container svg {
    width: calc(1.5em + 2vw);
  }
  .suggestion-container {
    /*a réactiver plus tard pour suggestion mobile*/
    display: none;
  }
 .option-container {
    display: none;
  }
  .chat-container {
    max-height: calc(100vh - 400px);
  }
  .message {
    display: flex;
    padding: 20px 15%;
  }
  .research-container {
    position: fixed;
    bottom: 0;
  }
  .input-container input[type="text"] {
    width: 80%;
    height: 80px;
  }
  .input-container button[type="submit"] {
    width: 10%;
    height: 80px;
  }
  .input-container button[type="submit"] svg {
    width: calc(1.5em + 2vw);
  }
}
